<%- include('template/cabecera.ejs') %>
<%- include('template/mainmenu.ejs') %>
   <div class="container p-4">
 
        

            <div class="col-md-6 col-sm-12 col-xm-12 m-auto">
                <div class="card" style="box-shadow: 23px 23px 12px -9px rgba(0,0,0,0.52);">
                    <div class="card-header bg-warning">
                        <h3 class="p-1 text-uppercase text-dark text-center">Modificar Producto</h3>
                    </div>
                    <div class="card-body bg-secondary">
                            <form action="/product/update" method="post">
                                <input name="id" id="id" type="hidden" value="<%= prod._id %>">
                               <div class="form-group">
                                        <input 
                                            type="text"
                                            id="producto"
                                            name="producto"
                                            value="<%= prod.producto %>"
                                            class="form-control m-2"
                                            required
                                        >
                               </div>
                               <div class="form-group">
                                    <input 
                                        type="text"
                                        id="descripcion"
                                        name="descripcion"
                                        value="<%= prod.descripcion %>"
                                        class="form-control m-2"
                                        required
                                    >
                                </div>
                                <div class="form-group">
                                    <select
                                        type="text"
                                        id="categoria"
                                        name="categoria"                                       
                                        class="form-control m-2"
                                        required
                                    >
                                    <option value="<%= cate.id %>"><%= cate.name %></option>
                                    <% fc.map(e=>{ %>
                                        <option value="<%= e.id %>"><%= e.name %></option>
                                    <% }) %>
                                   
                                    </select>
                                </div>
                               
                                <div class="form-group">
                                    <input 
                                        type="text"
                                        id="presentacion"
                                        name="presentacion"
                                        value="<%= prod.presentacion %>"
                                        class="form-control m-2"
                                    >
                                </div>
                               
                                <div class="form-group">
                                    <input 
                                        type="text"
                                        id="costo"
                                        name="costo"
                                        value="<%= prod.costo %>"
                                        class="form-control m-2"
                                    >
                                </div>
                                <div class="form-group">
                                    <input 
                                        type="text"
                                        id="precio"
                                        name="precio"
                                        value="<%= prod.precio %>"
                                        class="form-control m-2"
                                    >
                                </div>


                                <button class="btn btn-warning btn-block">actualiza Producto</button>
                            </form>
                    </div>
                </div>
            </div>
   </div>

<%- include('template/footer.ejs') %>